/node_modules
/public/hot
/public/storage
/public/storage/*
/public/robots.txt
public/robots.txt
/storage/*.key
/storage/app/public/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
/.vscode
/storage/logs/*
/storage/app/public/cache-image/*
/storage/app/public/filemanager/*
/storage/app/public/profile/*
/storage/debugbar/*
/tmp
.DS_Store
resources/.DS_Store
public/.DS_Store