@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    src: url("/build/website/fonts/montserrat-v26-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-200 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    src: url("/build/website/fonts/montserrat-v26-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: url("/build/website/fonts/ProximaNova-Light.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("/build/website/fonts/ProximaNova-Regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("/build/website/fonts/montserrat-v26-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url("/build/website/fonts/ProximaNova-Semibold.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("/build/website/fonts/ProximaNova-Bold.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    src: url("/build/website/fonts/ProximaNova-Extrabld.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    src: url("/build/website/fonts/ProximaNova-BlackIt.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

:root {
	--color-bg: #F5F5F5;
	--color-black: #111111;
	--color-black-hover: #161C2D;
	--color-blue: #496AF1;
	--color-blue-hover: #3954bf;
	--color-white: #ffffff;
	--color-white-hover: #f7f7f7;
	--color-green: #009464;
	--column-width: 1240px;
	--offset: calc(50% - (var(--column-width) / 2));
}

body, input, textarea, select {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	-webkit-text-size-adjust: none;
	color: var(--color-black);
	font-size: 15px;
}

img, svg {
	max-width: 100%;
	display: block;
}

* {
	box-sizing: border-box;
	outline: none !important;
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
}

body, dl, dt, dd, ul, ol, li, form, table, tr, td, h1, h2, h3, h4, h5, h6, pre, p, span, b, i, input, textarea, fieldset {
	margin: 0;
	padding: 0;
}

.none {
	display: none;
}

.fade-out {
	opacity: 1;
	transition: 0.3s;
	pointer-events: auto;
}

.fade-out.active {
	opacity: 0;
	pointer-events: none;
}

.fade-in {
	opacity: 0;
	transition: 0.3s;
	pointer-events: none;
}

.fade-in.active {
	opacity: 1;
	pointer-events: auto;
}

.container {
	padding-left: var(--offset);
	padding-right: var(--offset);
}

.container-offset {
	width: var(--column-width);
	margin-left: auto;
	margin-right: auto;
}

.btn {
	border-radius: 8px;
	cursor: pointer;
	user-select: none;
	padding: 9px 20px;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	text-decoration: none;
}

.btn-blue {
	background-color: var(--color-blue);
	color: white;
}

.btn-blue:hover {
	background-color: var(--color-blue-hover);
}

.btn-white {
	background-color: var(--color-white);
	color: var(--color-black);
}

.btn-white:hover {
	background-color: var(--color-white-hover);
}

.btn-black {
	background-color: var(--color-black);
	color: var(--color-white);
}

.btn-black:hover {
	background-color: var(--color-black-hover);
}

.btn-transparent {
	color: var(--color-blue);
	border: 2px solid var(--color-blue);
	border-radius: 8px;
}

.btn-transparent:hover {
	background-color: var(--color-blue);
	color: var(--color-white);
}

.block {
	margin-bottom: 120px;
}

.h1,
.content h1 {
	font-weight: 700;
	font-size: 32px;
	line-height: 44px;
}

.h2,
.content h2 {
	font-weight: 700;
	font-size: 26px;
	line-height: 30px;
}

.h3,
.content h3 {
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
}

.h4,
.content h4 {
	font-weight: 600;
	font-size: 17px;
	line-height: 27px;
}

.h1 > strong,
.h2 > strong,
.h3 > strong,
.h4 > strong {
	color: var(--color-blue);
	font-weight: 700;
}

.content {
	font-size: 15px;
	line-height: 23px;
}

.content strong {
	color: var(--color-blue);
	font-weight: 700;
}

.content p {
	margin: 15px 0;
}

.content img {
	border-radius: 20px;
	margin: 30px 0;
}

.content ul {
	margin-left: 26px;
}

.content li {
	list-style: none;
	margin: 5px 0;
}

.content li::before {
	content: "";
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: var(--color-blue);
	border-radius: 10px;
	transform: translate(-16px, 6px);
}

.filter-h1.h1 strong h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

body.model {
    transform: none;
    overflow: hidden;
}
@media (max-width: 1300px) {
	:root {
		--column-width: calc(100% - 60px);
	}

	.block {
		margin-bottom: 90px;
	}
}

@media (max-width: 850px) {
	
}

@media (max-width: 480px) {
	:root {
		--column-width: calc(100% - 30px);
	}
}