.header {
    z-index: 2;
    position: relative;
    padding: 15px 0px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.05);
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media #{$mq-mobile} {
            justify-content: flex-start;
        }
    }
    &__left{
        display: flex;
        nav {
            ul {
                display: flex;
                li {
                    position: relative;
                    color: $color-title;
                    padding-bottom: 8px;
                    a {
                        @extend %font-600-montserrat;
                        color: $color-title;
                        font-size: 15px;
                        line-height: 21px;
                        transition: all 0.3s;

                        &:hover {
                            color: $color-second;
                            transition: all 0.3s;
                            text-decoration: underline;
                            text-underline-offset: 4px;
                        }

                    }

                    &.has-submenu {
                        position: relative;
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        &:hover {
                            .arrow {
                                transform: rotate(180deg);
                            }

                            .submenu {
                                display: flex;
                                opacity: 1;
                                z-index: 1;
                                transition: all 0.3s;
                            }
                        }

                        .arrow {
                            background-image: url("/images/icons/arrow-hed.svg");
                            position: absolute;
                            right: -17px;
                            width: 11px;
                            height: 11px;
                            background-size: contain;
                            background-repeat: no-repeat;
                            top: 6px;
                            transition: all 0.3s;

                        }

                        .submenu {
                            display: none;
                            z-index: -2;
                            opacity: 0;
                            flex-direction: column;
                            position: absolute;
                            list-style-type: none;
                            min-width: 215px;
                            top: 32px;
                            background: $color-second;
                            border-radius: 12px;
                            padding: 10px;
                            transition: all 0.3s;

                            li+li {
                                margin-left: 0px;
                                margin-top: 10px;
                            }

                            li {
                                padding-bottom: 0px;

                                a {
                                    color: $color-white;

                                    &:hover {
                                        color: $color-white;
                                    }
                                }
                            }
                        }



                    }

                    @media #{$mq-mobile} {
                        &.has-submenu {
                            &:hover {
                                .arrow {
                                    transform: none;
                                }
                            }

                            .submenu {
                                display: none;
                            }

                            &.active {
                                .arrow {
                                    transform: rotate(180deg);
                                }

                                .submenu {
                                    display: flex;
                                }
                            }
                        }
                    }


                }

                li+li {
                    margin-left: 48px;
                }

                @media #{$mq-mobile} {
                    display: none;

                    &.active {
                        border-radius: 0px;
                        background: var(--white, #FFF);
                        display: flex;
                        width: 100% !important;
                        position: absolute;
                        top: 67px;
                        flex-direction: column;
                        padding: 13px;
                        z-index: 2;
                        justify-content: flex-start;
                        align-items: flex-start;
                        left: 0px;
                        background: $color-white;

                        li {
                            width: auto;
                            min-width: 115px;
                        }

                        li+li {
                            margin-left: 0px;
                            margin-top: 15px;
                        }
                        .header-btns {
                            display: flex;
                            margin-left: auto;
                            align-items: center;

                            &.no-auth {

                                a {
                                    color: $color-second;
                                    padding: 10px 24px 8px 24px;
                                    line-height: 24px;
                                    font-size: 14px;
                                    border-radius: 8px;
                                    transition: all 0.3s;
                                    display: flex;
                                    align-items: center;

                                    &:hover {
                                        color: $color-white;
                                        background: $color-second;

                                        svg {
                                            fill: $color-second;
                                        }
                                    }

                                    @media #{$mq-mobile} {
                                        padding: 4px 19px;
                                    }

                                    svg {
                                        margin-right: 10px;
                                        fill: $color-white;
                                        transition: all 0.3s;
                                    }
                                    &:first-child {
                                        svg {
                                            fill: $color-second;
                                        }
                                        &:hover {
                                            svg {
                                                fill: $color-white;
                                            }
                                        }
                                    }

                                }

                                a+a {
                                    color: #fff;
                                    margin-left: 10px;
                                    background: $color-second;

                                    &:hover {
                                        color: $color-second;
                                        background: #fff;
                                    }
                                }
                            }

                            .header-message {
                                position: relative;
                            }

                            .header-message+.header-message {
                                margin-left: 15px;
                            }

                            .header-message span {
                                position: absolute;
                                top: -10px;
                                left: 21px;
                                background-color: $color-second;
                                border-radius: 50%;
                                width: 23px;
                                height: 23px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 14px;
                                padding: 0px 7px;
                                font-weight: 400;
                                color: #ffffff;
                            }

                            .header-message.bell span {
                                left: 12px;
                                top: -13px;
                            }

                            @media #{$mq-mobile} {
                                margin-top: 20px;
                                margin-right: auto;
                                display: none;
                            }
                        }

                        .header-profile {
                            margin-left: 30px;
                            position: relative;

                            .header-profile__wrapper {
                                display: flex;
                                align-items: center;
                                margin-left: 30px;
                                cursor: pointer;
                            }

                            .header-profile__wrapper:hover .header-user-name {
                                color: $color-second;
                            }

                            .header-user-name {
                                margin-left: 8px;
                                font-size: 14px;
                                position: relative;
                            }

                            .header-user-name::after {
                                display: inline-block;
                                margin-left: 0.255em;
                                vertical-align: 0.255em;
                                content: "";
                                border-top: 0.3em solid;
                                border-right: 0.3em solid transparent;
                                border-bottom: 0;
                                border-left: 0.3em solid transparent;
                            }

                            .user-img {
                                display: inline-block;
                                position: relative;
                                margin-right: 5px;
                            }

                            .user-img>img {
                                height: 46px;
                                object-fit: cover;
                                width: 46px;
                                border-radius: 50%;
                            }

                            .btn-menu {
                                margin: 0 15px;
                                transition: 0.3s;
                                color: $color-second;
                                font-weight: 400;
                                text-decoration: none;
                            }

                            .btn-menu:hover {
                                color: $color-third;
                            }

                            .dropdown-menu {
                                display: none
                            }

                            .dropdown-menu.emp {
                                position: absolute;
                                background: $color-second;
                                min-width: 180px;
                                display: flex;
                                flex-direction: column;
                                border-radius: 10px;
                                overflow: hidden;
                                right: 0px;
                                top: 57px;
                                padding-bottom: 10px;
                                z-index: 1;
                            }


                            .dropdown-item {
                                padding: 5px;
                                padding: 5px;
                                transition: 0.3s;
                                color: $color-white;
                                font-weight: 500;
                                text-decoration: none;

                            }

                            .dropdown-item:hover {
                                color: $color-white;
                                text-decoration: underline;
                            }

                            .drop-head {
                                background: $color-third;
                                padding: 6px;
                                padding: 6px;
                                font-weight: 600;
                                color: $color-white;
                            }

                            @media #{$mq-mobile} {
                                margin-left: 0px;
                                margin-top: 5px;
                            }
                        }

                        @media #{$mq-mobile} {
                            flex-direction: column;
                        }

                        .header-btns {
                            display: flex;
                            justify-content: flex-start;
                        }

                        .header-profile,
                        .header-profile__wrapper {
                            display: flex;
                        }

                        .header-profile {
                            justify-content: center;
                            align-items: center;
                            align-self: center;
                        }

                    }
                }
            }

            .header-btns,
            .header-profile,
            .header-profile__wrapper {
                display: none;
            }


        }

    }
    &__right {
        display: flex;
        align-items: center;
        .header-btns {
            display: flex;
            margin-left: auto;
            align-items: center;

            &.no-auth {
                a {
                    color: $color-second;
                    padding: 10px 24px 8px 24px;
                    @extend %font-600-montserrat;
                    border: 2px solid $color-second;
                    line-height: 24px;
                    font-size: 14px;
                    border-radius: 8px;
                    transition: all 0.3s;
                    display: flex;
                    align-items: center;

                    &:hover {
                        color: $color-white;
                        background: $color-second;

                        svg {
                            fill: $color-second;
                        }
                    }

                    @media #{$mq-mobile} {
                        padding: 4px 24px;
                    }

                    svg {
                        margin-right: 10px;
                        fill: $color-white;
                        transition: all 0.3s;
                    }

                    &:first-child {
                        svg {
                            fill: $color-second;
                        }
                        &:hover {
                            svg {
                                fill: $color-white;
                            }
                        }
                    }
                }

                a+a {
                    color: #fff;
                    margin-left: 20px;
                    background: $color-second;

                    &:hover {
                        color: $color-second;
                        background: none;
                    }
                }
            }

            .header-message {
                position: relative;
            }

            .header-message+.header-message {
                margin-left: 15px;
            }

            .header-message span {
                position: absolute;
                top: -10px;
                left: 21px;
                background-color: $color-second;
                border-radius: 50%;
                width: 23px;
                height: 23px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                padding: 0px 7px;
                font-weight: 400;
                color: #ffffff;
            }

            .header-message.bell span {
                left: 12px;
                top: -13px;
            }

            @media #{$mq-mobile} {
                margin-top: 20px;
                margin-right: auto;
                display: none;
            }
        }

        .header-profile {
            margin-left: 30px;
            position: relative;

            .header-profile__wrapper {
                display: flex;
                align-items: center;
                margin-left: 30px;
                cursor: pointer;

                @media #{$mq-mobile} {
                    margin-left: 0px;
                    display: none;
                }
            }

            .header-profile__wrapper:hover .header-user-name {
                color: $color-second;
            }

            .header-user-name {
                margin-left: 8px;
                font-size: 14px;
                position: relative;
            }

            .header-user-name::after {
                display: inline-block;
                margin-left: 0.255em;
                vertical-align: 0.255em;
                content: "";
                border-top: 0.3em solid;
                border-right: 0.3em solid transparent;
                border-bottom: 0;
                border-left: 0.3em solid transparent;
            }

            .user-img {
                display: inline-block;
                position: relative;
                margin-right: 5px;
            }

            .user-img>img {
                height: 46px;
                object-fit: cover;
                width: 46px;
                border-radius: 50%;
            }

            .btn-menu {
                margin: 0 15px;
                transition: 0.3s;
                color: $color-second;
                font-weight: 400;
                text-decoration: none;
            }

            .btn-menu:hover {
                color: $color-third;
            }

            .dropdown-menu {
                display: none
            }

            .dropdown-menu.emp {
                position: absolute;
                background: $color-second;
                min-width: 180px;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                overflow: hidden;
                right: 0px;
                top: 57px;
                padding-bottom: 10px;
                z-index: 1;
            }


            .dropdown-item {
                padding: 5px;
                padding: 5px;
                transition: 0.3s;
                color: $color-white;
                font-weight: 500;
                text-decoration: none;

            }

            .dropdown-item:hover {
                text-decoration: underline;
            }

            .drop-head {
                background: $color-third;
                padding: 6px;
                padding: 6px;
                font-weight: 600;
                color: $color-white;
            }

            @media #{$mq-mobile} {
                margin-left: 0px;
                margin-top: 5px;
            }
        }

        @media #{$mq-mobile} {
            width: auto;
            flex-direction: column;
        }
    }
    &__burger {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 30px;
        top: 23px;
        height: 20px;
        z-index: 3;
        right: 30px;

        &-line {
            height: 3px;
            border-radius: 15px;
            background-color: $color-second;
            transition: all 0.3s;
            width: 100%;
        }

        &-line+&-line {
            margin-top: 5px;
        }

        &.active {
            top: 15px;

            .header__burger-line:first-child {
                display: none
            }

            .header__burger-line:nth-child(2) {
                transform: rotate(47deg) translate(5px, 5px);
            }

            .header__burger-line:nth-child(3) {
                transform: rotate(-45deg) translate(0, -1px);
            }
        }

        @media #{$mq-mobile} {
            display: flex;
        }
    }
}
