.standart {

    &-content {
        padding: 15px;
        background: $color-second;
        border-radius: 12px;
        color: #fff;
        h1 {
            color: #fff;
            font-size: 32px;
            margin-bottom: 20px;
            display: inline-block;
            @media #{$mq-tablet} {
                font-size: 29px;
            }

        }
        img {
            margin-bottom: 50px;
            float: left;
            border-radius: 12px;
            margin-right:  20px;
            @media #{$mq-mobile} {
                float: none;
                margin: 0 auto 10px;
            }
        }
    }

    &-content.full {
        max-width: 100%;
    }

    .content > div {
        display: flex;
        flex-wrap: wrap;
    }

}
