%font-100-montserrat {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
}

%font-200-montserrat {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
}

%font-300-montserrat {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
}

%font-400-montserrat {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

%font-500-montserrat {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}


%font-600-montserrat {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
}

%font-700-montserrat {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}

%font-800-montserrat {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
}

%font-900-montserrat {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
}

$color-title: #111;
$color-basic: #111;
$color-second: #0F0F34;
$color-third: #F5B841; 
$color-four: #858585;
$color-five: #5C5C5C;
$color-white: #FFF;
$color-intput: #cbcbcb;
$color-breadcrumbs: #5C5C5C;
$color-btn-faq: #103748;
$color-link: #0B3194;
$bg-footer: #040418;
$bg-footer-top: #9c9c9c;
$border-top: #cbd5e1;
$color-service: #f6f9ff;
$boder:#e4e4e7;
$color-project: #5e5e5e;